<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Plan zajęć</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="js/hello.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<body onload="pobierz_dane()">

<div class="container">

    <div class="navbar navbar-expand-sm bg-light">
        <a href="index">Wróć</a>
        <form th:action="@{/logout}" method="post">
            <input href="index" type="submit" value="Wyloguj"/>
        </form>

    </div>


    <div class="page-header" align="center"><h1>Panel administratora</h1></div>

    <div class="form-group" align="center" style="margin:auto;">
        <div class="col-12 col-sm-8 col-md-8 col-lg-8"  id="main">
            <div class="col-12 col-sm-12 col-md-10 col-lg-8">
                <form id="plikForm" >
                    <label for="plik">Podaj plik:</label>
                    <input type="file" class="form-control-file" name="plik" id="plik">
                    <br>
                    <button id="send" class="btn btn-primary" type="button" onclick="przeslij_plik();">Prześlij plik</button>

                </form>
            </div>
            <br><br>

            <form id="daneForm">

                <div class="form-group row">
                    <label for="nazwisko" class="col-sm-6 col-form-label">Numer wiersza dla nazwisk:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="nazwisko" placeholder="Numer wiersza">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="imie" class="col-sm-6 col-form-label">Numer wiersza dla imion:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="imie" placeholder="Numer wiersza">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="przedmioty_od" class="col-sm-6 col-form-label">Kolumny z informacjami o przedmiotach:</label>
                    <div class="col-sm-6 row">
                        <label for="przedmioty_od" class="col-sm-3 col-form-label">Od </label>
                        <input type="text" class="form-control col-sm-3" id="przedmioty_od" placeholder="Cyfra">
                        <label for="przedmioty_do" class="col-sm-3 col-form-label">Do </label>
                        <input type="text" class="form-control col-sm-3" id="przedmioty_do" placeholder="Cyfra">
                    </div>
                </div>



                <div class="form-group row">
                    <label for="podsumowanie_od" class="col-sm-6 col-form-label">Wiersze z podsumowaniem:</label>
                    <div class="col-sm-6 row">
                        <label for="podsumowanie_od" class="col-sm-3 col-form-label">Od </label>
                        <input type="text" class="form-control col-sm-3" id="podsumowanie_od" placeholder="Cyfra">
                        <label for="podsumowanie_do" class="col-sm-3 col-form-label">Do </label>
                        <input type="text" class="form-control col-sm-3" id="podsumowanie_do" placeholder="Cyfra">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="przedmioty" class="col-sm-6 col-form-label">Wiersz od którego zaczynają się przedmioty:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="przedmioty" placeholder="Numer wiersza">
                    </div>
                </div>


                <button id="send2" class="btn btn-primary" type="button" onclick="przeslij_informacje();">Zatwierdź</button>

            </form>


        </div>
    </div>
</div>

</body>
</html>