<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Plan zajęć</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="js/hello.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="Shortcut icon" href="images/icon.png" />


<body>


<!--<div align="center">-->
<!--<p class="greeting-id">The ID is </p>-->
<!--<p class="greeting-content">The content is </p>-->
<!--</div>-->
<div class="container">

    <div class="navbar navbar-expand-sm bg-light">
        <a href="panel">Panel administratora</a>

    </div>


    <div class="page-header" align="center"><h1>Plan zajęć</h1></div>


    <div class="form-group" align="center" style="margin:auto;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4" id="main">
            <div id="blad"></div>
            <label for="nazwisko">Podaj nazwisko:</label>
            <input type="text" class="form-control" id="nazwisko">
            <br>
            <div id="imie_div"></div>

            <button id="send" class="btn btn-primary" type="button" onclick="wyslij();">Potwierdź</button>
        </div>
    </div>
</div>
</body>
</html>