<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Plan zajęć</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="js/hello.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="Shortcut icon" href="images/icon.png" />


<body onload="wstaw_pliki();">


<!--<div align="center">-->
<!--<p class="greeting-id">The ID is </p>-->
<!--<p class="greeting-content">The content is </p>-->
<!--</div>-->
<div class="container">

    <!--<div class="navbar navbar-expand-sm bg-light">-->
        <!--<a href="panel">Panel administratora</a>-->


        <!--<div class="mx-auto w-100 order-0">-->
            <!--<a></a>-->
        <!--</div>-->

        <!--<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">-->
            <!--<a href="register">Rejestracja</a>-->
        <!--</div>-->

    <!--</div>-->

    <div class="navbar navbar-expand-sm bg-light">

        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a href="panel">Panel administratora</a>
        </div>

        <div class="mx-auto w-100 order-0">

        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <a href="register" class="navbar-nav ml-auto">Rejestracja</a>
        </div>
    </div>


    <div class="page-header" align="center"><h1>Plan zajęć</h1></div>


    <div class="form-group" align="center" style="margin:auto;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4" id="main">
            <div id="blad"></div>
            <label for="nazwisko">Podaj nazwisko:</label>
            <input type="text" class="form-control" id="nazwisko">
            <br>
            <div id="imie_div"><label for="imie">Podaj imię:</label><input type="text" class="form-control" id="imie"><br></div>
            <br>

            <div id="select_file">
                <label class="my-1 mr-2" for="wybierz_plik">Wybierz plik:</label>
                <select class="custom-select my-1 mr-sm-2" id="wybierz_plik">
                <!--<option value="1">One</option>-->
                <!--<option value="2" selected>Two</option>-->
                <!--<option value="3">Three</option>-->
            </select></div>

            <button id="send" class="btn btn-primary" type="button" onclick="wyslijZImieniem();">Potwierdź</button>
        </div>
    </div>
</div>
</body>
</html>